.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarSecFirst {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sidebarSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.sidebarSec > h4 {
  color: var(--wb400);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 0.5em;
}

.sidebarSec > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 90%;
  font-size: 1.15em;
  color: var(--wb800);
  padding: 0.5em;
}

.sidebarSec > a > svg {
  font-size: 1.25em;
}

.sidebarSecLast {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.logout,
.logout > svg {
  cursor: pointer;
  color: var(--red) !important;
}

.activeBar {
  /* background-color: var(--wb200); */
  border-radius: 0.5em;
  color: var(--color500) !important;
  transition: 0.5s;
}
