.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarSecFirst {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sidebarSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
}

.sidebarSec>h4 {
  color: var(--wb400);
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300;
  line-height: 100%;
  margin-bottom: .5em;
}

.sidebarSec>a,
.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 90%;
  font-size: 1.15em;
  color: var(--wb800);
  padding: .5em;
}

.sidebarSec>a>svg {
  font-size: 1.25em;
}

.sidebarSecLast {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.logout {
  cursor: pointer;
  color: var(--red) !important;
}

.activeBar {
  background-color: var(--wb100);
  filter: brightness(.975);
  border-radius: .5em;
  color: var(--color500) !important;
  transition: .5s;
}