.systems {
    height: 5vh;
    width: 20vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card {
    height: 5vh;
    width: calc(20vw / 6);
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    transition: .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-color: var(--wb100);
}

.card:hover>.info>.icon {
    color: var(--color300);
}

.checked {
    z-index: 3;
    background-color: var(--wb50);
}

.checked>.info>.icon {
    background-color: var(--wb50);
    color: var(--color500);
}

.radioBtn {
    height: 100%;
    width: 100%;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 3;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: calc(20vw / 6);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: var(--color-xdark);
    padding: .25em;
}

.icon {
    color: var(--wb300);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.control {
    height: 100%;
    width: calc(100% - 22.5vw - 1rem);
}