*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
    user-select: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: .5rem;
}

::-webkit-scrollbar-track {
    border-radius: .5rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: transparent;
}