.container {
  height: 100vh;
  width: calc(100vw - 5em);
  padding: 5vh 2.5vw;
  background-color: var(--wb150);
  display: flex;
  align-items: flex-start;
  gap: 2.5vw;
  justify-content: space-between;
}

/* =============== */
/* SIDEBAR SECTION */
/* =============== */

.sidebar {
  flex: 3;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  flex: 1;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--wb800);
}

.title {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 15vw;
  gap: 0.5em;
}

.p {
  letter-spacing: 0.1em;
  font-weight: 300;
  color: var(--wb400);
}

.h1 {
  color: var(--wb600);
  font-size: 2.5em;
  line-height: 100%;
}

.activities {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5em;
  width: 50vw;
  padding-left: 1vw;
}

.form {
  overflow: hidden;
  transition: 0.5s;
  flex: 3;
}

/* ============ */
/* MAIN SECTION */
/* ============ */

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 5;
  height: 90vh;
  overflow: hidden;
  background-color: var(--wb200);
  border-radius: 2em;
}

.sensorler {
  /* width: calc(60vw - 2em); */
  height: 20vh;
}

.senaryolar {
  /* width: calc(60vw - 2em); */
  /* height: 70vh; */
  /* background: var(--MeshedBG);
  background-color: var(--color500); */
  background-color: var(--wb200);
  border-radius: 0.5em;
}

/* =================== */
/* CONFIRMATION BOX */
/* =================== */

.confirmationBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.box {
  background-color: var(--wb50);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  padding: 1em;
  border: 1px solid var(--hr);
  box-shadow: var(--shadowS);
  color: var(--wb800);
}

.box_header {
  display: flex;
  align-items: flex-start;
  gap: .5em;
  padding: 1em 1em 0 1em;
}

.box_icon {
  font-size: 1.5em;
  line-height: 1;
  height: 1.75em;
  width: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wb200);
  border-radius: .25em;
}

.box_header_text {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.header_title {
  font-size: 1em;
}

.header_desc {
  font-size: .875em;
  color: var(--wb400);
}

.confirmationButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: .5em;
}

.confirmationButton {
  padding: 0.5em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: 0.2s;
  border-radius: .5em;
}

.cancel:hover {
  background-color: var(--hr);
}

.confirm {
  background-color: var(--red);
  color: var(--w);
}

.confirm:hover {
  filter: brightness(1.25);
}

.cancel {
  color: var(--wb400);
}