.container {
    width: 14.5vw;
    height: 7.5vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.input_group {
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: relative;
}

.title {
    font-size: .975em;
    font-weight: 100;
    color: #989898;
}

.trigger {
    padding: .25em 1em;
    border-radius: .5em;
    width: 14.5vw;
    display: flex;
    align-items: flex-start;
    border: 2px solid #656565;
    color: #dcdcdc;
    background-color: #434547;
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding: .5em;
    background-color: #434547;
    color: #dcdcdc;
    border-radius: .5em;
    width: 14.5vw;
    position: absolute;
    top: calc(100% + .5em);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transform-origin: top;
    overflow: hidden;
    z-index: 99999;
}

.item {
    position: relative;
    padding: .375em .5em;
    border-radius: .25em;
}

.item:hover {
    background-color: #656565;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    appearance: none;
}