.container {
    height: calc((70vh - 2vw) / 3);
    width: calc((45.5vw - 2em)/4);
    padding: 1em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    backdrop-filter: blur(10px) brightness(1.1);
}

.content {
    display: flex;
    flex-direction: column;
    gap: .5em;
    height: 100%;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: .5em;
    font-size: 1.25em;
    padding: .5em;
    border-radius: .5em;
    line-height: 1.5em;
    height: 2.25em;
    color: var(--color700);
}

.icon {
    width: 1em;
}

.name {
    width: calc(100% - 2.5em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.settingsIcon {
    position: absolute;
    top: 50%;
    right: 0em;
    transform: translateY(-50%);
    cursor: pointer;
}

.settings {

    /* Sağ üstten açılmasını sağlar */
}

.close {
    cursor: pointer;
    color: var(--wb900);
}

.settingsBtn {
    font-size: .75em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    padding: 0.25em;
    border-radius: .25em;
    transition: .5s;
}

.deleteBtn {
    color: var(--red);
}

.settingsBtn:hover {
    background-color: var(--hr);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .75em;
    gap: 1em;
    padding-inline: .75em;
    opacity: .6;
}

.times {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.sensors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .25em;
    font-size: .85em;
    opacity: .6;
}

.sensor {
    /* color: var(--wb50); */
    padding: 0.25em .5em;
    border-radius: 2em;
    font-size: .85em;
}

.menuButton {
    display: inline-flex;
    align-items: center;
    border-radius: 0.375em;
    padding: 0.375em;
    font-size: 0.875em;
    font-weight: 600;
    color: var(--color400);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
    position: absolute;
    top: -.5em;
    right: -.5em;
}

.menuItems {
    width: 12.5em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    font-size: 0.875em;
    padding: .5em;
    border-radius: .5em;
    background-color: var(--wb50);
    box-shadow: var(--shadowL);
    display: flex;
    flex-direction: column;
    gap: .5em;
    transform-origin: top right;
    transition: transform 100ms ease-out, opacity 100ms ease-out;
}

.settingsTitle {
    font-size: .75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--wb400);
    padding: .75em .75em .25em .75em;
}

.menuItems[data-closed] {
    transform: scale(0.95);
    opacity: 0;
}

.menuItem,
.menuItemDelete {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.75em;
    border-radius: 0.5em;
    padding: 0.375em 0.75em;
    line-height: 1.5;
}

.menuItem:hover,
.menuItemDelete:hover {
    background-color: var(--wb150);
}

.menuItemDelete {
    color: var(--red);
}

.menuIcon {
    font-size: 1.15em;
}

.menuShortcut[data-focus]:focus {
    display: inline;
}

.menuDivider {
    margin: 0 .75em;
    height: 2px;
    background-color: var(--hr);
}