.container {
    background-color: var(--wb50);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    box-shadow: var(--shadowS);
    border: 1px solid var(--wb200);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    font-size: 24px;
    padding: 12px 8px;
}

.title {
    font-size: 20px;
    font-weight: 400;
    opacity: .6;
}

.title_icon {
    opacity: .6;
}

.icon {
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--b);
    font-size: 18px;
    opacity: .6;
}

.icon:hover {
    opacity: 1;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.main_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_group {
    width: 258px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-size: 14px;
    height: 20px;
    color: rgba(0, 0, 0, .5);
}

.input {
    height: 50px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .025);
    color: var(--b);
    resize: none;
}

.input:focus {
    border: 2px solid var(--color500);
    outline: none;
}

.input_address {
    height: 135px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .025);
    color: var(--b);
    resize: none;
}

.input_address:focus {
    border: 2px solid var(--color500);
    outline: none;
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    height: 50px;
    min-width: 100px;
    border-radius: 8px;
    font-size: 16px;
}

.save {
    background-color: var(--color-primer);
    color: var(--b);
    flex: 1;
    font-weight: 600;
    letter-spacing: 1px;
}

.cancel {
    color: var(--red);
    background-color: var(--w);
}

.btn:hover {
    filter: brightness(.95);
}